{{> nav }}

<div class="bodysigners">
    <img src="/assets/shining.jpg" id="frosted">
    <div class="">
        <h3>These are the cool peple so far!</h3>
        <div class="signers">
            <ol>
                {{#signers}}
                <li>
                    {{#if homepage}}
                        <a href="{{this.homepage}}">{{this.first}} {{this.last}}</a><a>, {{this.age}}</a><a href="/petition/signers/{{this.city}}">, {{this.city}}</a>
                    {{else}}
                        <a>{{this.first}} {{this.last}}</a><a>, {{this.age}}</a><a href="/petition/signers/{{this.city}}">, {{this.city}}</a>
                    {{/if}}
                </li>

                {{/signers}}
            </ol>
        </div>
    </div>


</div>
