{{> nav }}

<h3>THIS IS THE SIGNERS PAGE</h3>

<h2>These are the people who have signed up in the city of {{city}}</h2>

<ol>
    {{#signers}}
    <li>
        {{#if homepage}}
            <a href="{{this.homepage}}">{{this.first}} {{this.last}}</a>
        {{else}}
            <a>{{this.first}} {{this.last}}</a>
        {{/if}}
    </li>

        <a>{{this.age}}</a>

    {{/signers}}
</ol>
